/* To be overridden by theme user */
@import "variables";

body {
  background-image: url("nicole-mason-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}

blockquote {
  background-color: $gray-700;
}

.markdown code {
  background-color: $gray-700;
}

.book-tabs input[type=radio]:checked+label {
  border-bottom: 3px solid #efd79d;
}

.markdown table tr:nth-child(2n) {
  background: $gray-600;
}

small.archivement {
  display: block;
  margin-bottom: 0.2em;
}

small.archivement span.world {
  padding: 2px 4px;
  font-weight: bold;
  background-color: #ad6a12;
  border-radius: 3px;
}

small.archivement span.individual {
  margin-left: 0.4em;
  padding: 2px 4px;
  font-weight: bold;
  background-color: #0f8d35;
  border-radius: 3px;
}

.book-menu nav::-webkit-scrollbar {
  width: 5px;
}

.book-menu nav::-webkit-scrollbar-track {
  background: #666;
}

.book-menu nav::-webkit-scrollbar-thumb {
  background: #ddd;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #666;
}

body::-webkit-scrollbar-thumb {
  background: #ddd;
}