/* proza-libre - latin */
@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ProzaLibre'), local('ProzaLibre-Regular'),
       url('fonts/ProzaLibre-Regular.ttf') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/OpenSans-Regular.ttf') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProzaLibre', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}