/* proza-libre - latin */
@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ProzaLibre'), local('ProzaLibre-Regular'),
       url('fonts/ProzaLibre-Regular.ttf') // Chrome 26+, Opera 23+, Firefox 39+
}

