<!-- item.html: Single item card shortcode -->
{{ $id := replace (lower (.Get "name")) " " "-" }}
<div class="col" id="{{ $id }}">
  <div class="card text-light shadow h-100">
    <div class="row g-0">
      <div class="col-4 d-flex align-items-center justify-content-center p-4">
        {{ $icon := .Get "icon" }}
        {{ if $icon }}
          <img src="/items/{{ $icon }}" class="img-fluid rounded" alt="Icon for {{ .Get "name" }}" />
        {{ else }}
          <img src="/items/128.svg" class="img-fluid rounded" alt="Icon for {{ .Get "name" }}" />
        {{ end }}
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ .Get "name" }}</h5>
          <p class="card-text small mb-1 d-flex">
            <span class="w-50"><strong>Weight:</strong> {{ .Get "weight" }}</span>
            <span class="w-50"><strong>Type:</strong> {{ .Get "type" }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        <div class="card-body pt-0">
          <div class="card-text small">
            {{ .Inner | string | strings.TrimSpace | .Page.RenderString }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>